@model EmployeeCrudApp.Models.Employee

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Details"];
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["Employee"]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Localizer["Id"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Name"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Age"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Localizer["Email"]
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@Localizer["Edit"]</a> |
    <a asp-action="Index" class="btn btn-secondary">@Localizer["Back to List"]</a>
</div>
